<!DOCTYPE html>

<html>
<head>
     <title>about</title>
     <link rel="stylesheet" href="/css/styles.css" >
</head>

<body>
    <div class="main-content">
        {{>header}}
        <p>This side use mapbox.com and darksy.net</p> 
        <img class="portrait" src="/img/opensource.png">
      </div>
 
    {{>footer}}
</body>
</html>
